body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(245, 157, 223);
    color: rgb(0, 0, 0);
    font-family: Arial;
    margin: 0px;
    font-weight: bold;
    font-size: 15pt;
}

footer {
    background-color: rgb(245, 157, 223);
    color: rgb(0, 0, 0);
    font-family: Arial;
    margin: 0px;
    font-weight: bold;
    font-size: 15pt;
}

main {
    background-color: rgb(255, 255, 255);
    color:rgba(106, 8, 109, 0.89);
    font-family: Arial;
    margin: 10px;
    font-weight: bold;
    font-size: 15pt;
}

a {
    color: rgb(79, 95, 79);
    text-decoration: none;
    transition: 2s 1s;
}

a:link {
    color: rgb(131, 129, 2);
    text-decoration: none;
}

a:visited {
    color: rgb(79, 95, 79);
    text-decoration: none;
}

a:hover {
    color:rgb(58, 0, 97); 
    text-decoration: underline;
    font-weight: bold;
}

a:active {
    color: rgb(0, 221, 236);
    opacity: 0.3;
}